#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config CM_SERVICE_DEVICE_TEST
	tristate "vela auto tests service_device"
	default n
	depends on TESTING_CMOCKA
	---help---
		Enable auto tests for the vela service device module

if CM_SERVICE_DEVICE_TEST

config CM_SERVICE_DEVICE_TEST_PRIORITY
	int "Task priority"
	default 100

config CM_SERVICE_DEVICE_TEST_STACKSIZE
	int "Stack size"
	default DEFAULT_TASK_STACKSIZE

endif
