#
# Copyright (C) 2020 Xiaomi Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

config BLUETOOTH
	bool "Enable Bluetooth"
	default n
	select LIBUV
	select LIBUV_EXTENSION
if BLUETOOTH

config LIB_BLUELET
  bool "BARROT Bluelet Stack"
  default y
  help
    Enable support for the BARROT Bluetooth stack

config BLUETOOTH_AVRCP_TG
	bool "Enable BT_AVRCP_TG"
	default n

config BLUETOOTH_AVRCP_CT
	bool "Enable BT_AVRCP_CT"
	default n

config BLUETOOTH_A2DP
	bool "Enable BT_A2DP"
	default n

config BLUETOOTH_A2DP_SRC
	bool "Enable BT_A2DP_SRC"
	default y
	select BLUETOOTH_A2DP
	select BLUETOOTH_AVRCP_TG

config BLUETOOTH_A2DP_SINK
	bool "Enable BT_A2DP_SINK"
	default n
	select BLUETOOTH_A2DP
	select BLUETOOTH_AVRCP_CT

if BLUETOOTH_A2DP
config BLUETOOTH_A2DP_MAX_CONNECTIONS
	int "Maximum A2dp connections"
	default 1
	help
		Maximum A2dp connections

config BLUETOOTH_A2DP_IPC_RPSMG_SERVER
	bool "Bluetooth A2dp audio IPC rpmsg server"
	default y
	help
		Bluetooth A2dp audio IPC rpmsg server

config BLUETOOTH_A2DP_IPC_RPSMG_NAME
	string "Bluetooth A2dp audio IPC rpmsg name"
	default "cp"
	help
		Bluetooth A2dp audio IPC rpmsg name

config BLUETOOTH_A2DP_AAC_CODEC
	bool "Bluetooth A2dp AAC codec support"
	default n
	select AAC_ENABLED
	help
		Bluetooth A2dp AAC codec support

config BLUETOOTH_A2DP_PEER_PARTIAL_RECONN
	bool "Bluetooth A2dp peer partial reconnect support"
	default n
	help
		Bluetooth A2dp peer partial reconnect support

config BLUETOOTH_A2DP_CONNECT_TIMEOUT
	int "Bluetooth A2dp connect timeout"
	default 8
	help
		Bluetooth A2dp connect timeout
endif #BLUETOOTH_A2DP

config BLUETOOTH_HFP_HF
	bool "Enable BT_HFP_HF"
	default y

config BLUETOOTH_HFP_AG
	bool "Enable BT_HFP_AG"
	default n

config BLUETOOTH_LE_SCAN
	bool "Enable BT_LE_SCAN"
	default y

config BLUETOOTH_LE_ADVERTISE
	bool "Enable BT_LE_ADVERTISE"
	default y

config BLUETOOTH_GATT_CLIENT
	bool "Enable BT_GATT_CLIENT"
	default y

config BLUETOOTH_GATT_SERVER
	bool "Enable BT_GATT_SERVER"
	default y

config BLUETOOTH_SPP
	bool "Enable BT_SPP profile"
	default y
	select PSEUDOTERM
	select SERIAL_TERMIOS

config BLUETOOTH_HIDDEV
	bool "Enable BT_HIDDEV"
	default y

config BLUETOOTH_MANAGER
  	bool "Enable bt manager"
  	default y

config BLUETOOTH_SAMPLE_GATTC
    bool "Enable ble scan and gatt client sample"
    default n

config BLUETOOTH_SAMPLE_GATTS
    bool "Enable ble advertise and gatt server sample"
    default n

config BLUETOOTH_SAMPLE_LEADV
    bool "Enable ble adv test"
    default n

config BLUETOOTH_SAMPLE_GAP
    bool "Enable gap test"
    default n

config BLUETOOTH_PAN
	bool "Enable BT_PAN profile"
	default n
	help
		Enable BT_PAN profile

config BLUETOOTH_TOOL_CHAIN
    bool "Enable bluetooth profile test tools"
    default y

config BT_FRAMEWORK_LOG_LEVEL
    int "Bt framework log level"
    default 7
    help
        Set bt framework log level <0~7>

config BLUETOOTH_ORB_QUEUE_SIZE
    int "Bt uorb queue size"
    default 5
    help
        Set Bt uorb queue size

config BLUETOOTH_AUTO_SNIFF
	bool "Bt auto sniff"
	default y

if BLUETOOTH_SPP
config BLUETOOTH_SPP_INSTANCE
	int "Maximum SPP instance count"
	default 2

config BLUETOOTH_SPP_MAX_CONNECTIONS
	int "Maximum SPP connections"
	default 32
	help
		Maximum SPP connections

config BLUETOOTH_SPP_SERVER_MAX_CONNECTIONS
	int "Maximum SPP server accept connections"
	default 2
	help
		Maximum SPP server accept connections

config BLUETOOTH_SPP_DUMPBUFFER
	bool "SPP dumpbuffer switch"
	default n
	help
		SPP dumpbuffer switch

endif # BLUETOOTH_SPP

config BLUETOOTH_LOCAL_THREAD
	bool "Local Thread Transfer"
	default n

if BLUETOOTH_AUTO_SNIFF
config BLUETOOTH_SNIFF_IDLE_TIME
	int "Auto-Sniff idle time seconds"
	default 7
	help
		Bluetooth Auto-Sniff idle time seconds

config BLUETOOTH_SNIFF_MIN_INTERVAL
	int "Auto-Sniff min interval"
	default 720
	help
		Bluetooth Auto-Sniff min interval

config BLUETOOTH_SNIFF_MAX_INTERVAL
	int "Auto-Sniff max interval"
	default 800
	help
		Bluetooth Auto-Sniff max interval

config BLUETOOTH_SNIFF_ATTEMPT
	int "Auto-Sniff attempt"
	default 4
	help
		Bluetooth Auto-Sniff attempt

config BLUETOOTH_SNIFF_TIMEOUT
	int "Auto-Sniff timeout"
	default 1
	help
		Bluetooth Auto-Sniff timeout
endif # BLUETOOTH_AUTO_SNIFF

config BLUETOOTH_VENDOR_DEPENDENCY
	bool "Vendor dependency"
	default false
	help
		Need depend on vendor code

if BLUETOOTH_VENDOR_DEPENDENCY
choice
	prompt "Controller vendor"
	default BLUETOOTH_VENDOR_DEPENDENCY_XIAOMI
	config BLUETOOTH_VENDOR_DEPENDENCY_XIAOMI
	bool "xiaomi"
	config BLUETOOTH_VENDOR_DEPENDENCY_BES
	bool "bes"
endchoice

endif #BLUETOOTH_VENDOR_DEPENDENCY
endif # BLUETOOTH
