<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BluetoothTest">

        <activity android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LocalAdapter.OnOffActivity"
            android:label="@string/bredr_on_off" />

        <activity
            android:name=".bredr.BredrInquiryActivity"
            android:label="@string/bredr_inquiry" />

        <activity
            android:name=".bredr.BondActivity"
            android:label="@string/bond" />

        <activity
            android:name=".bredr.SppActivity"
            android:label="@string/spp" />

        <activity
            android:name=".bredr.BredrL2capActivity"
            android:label="@string/bredr_l2cap" />

        <activity
            android:name=".ble.BleScanActivity"
            android:label="@string/ble_scan" />

        <activity
            android:name=".ble.BleCentralActivity"
            android:label="@string/ble_central" />

        <activity
            android:name=".ble.BlePeripheralActivity"
            android:label="@string/ble_peripheral" />

        <activity
            android:name=".ble.BleL2capActivity"
            android:label="@string/ble_l2cap" />

    </application>

</manifest>